// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
  font-style: italic;
}

.answer {
  background-color: lightyellow;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: blue;
}

.container {
  padding: 120px;
}
